.wrapper {
  padding-top: 65px;
  .card-action {
    display: flex;
    justify-content: space-between;
    i {
      cursor: pointer;
    }
    a {
      color: #28a69a !important;
    }
  }
  .fixed-action-btn {
    width: 150px;
    display: flex;
    justify-content: space-around;
  }
}
